[DEFAULT]
# The default guest that the new guest should be cloned from. This guest must be known to libvirt.
#src_guest = stretch

# The ID of the VM host, usually e.g. the last byte if the IPv4 address. It is
# used in the MAC addresses of the resulting VM.
host_id = 10

# Settings for the external interface
#public_bridge = br0
public_mac = 00:53:00:%(host_id)s:00:%(guest_id)s
public_ip4 = 198.51.100.%(guest_id)s
public_ip6 = 2001:db8:a::1:%(guest_id)s

# Settings for the internal interface
#public_bridge = br1
priv_mac = 00:53:FF:%(host_id)s:01:%(guest_id)s
priv_ip4 = 192.0.2.%(guest_id)s
priv_ip6 = 2001:db8:b::%(guest_id)s

# Same settings in the template VM:
src_public_mac = 00:53:00:%(host_id)s:00:%(template_id)s
src_public_ip4 = 198.51.100.%(template_id)s
src_public_ip6 = 2001:db8:a::1:%(template_id)s
src_priv_mac = 00:53:FF:%(host_id)s:01:%(template_id)s
src_priv_ip4 = 192.0.2.%(template_id)s
src_priv_ip6 = 2001:db8:b::%(template_id)s

# VNC port the host will listen on
#vnc_port = 59%(guest_id)s

###################################
# Copy template from another host #
###################################
# You can optionally copy the template from another host. The following directives are used only
# for outputting help to the user. The script will output a command assuming that the source host
# has SSH access to the current host that will copy the Logical Volume. The libvirt host is still
# expected to be present locally.

# Human readable name of the host
#transfer-from = example-host

# Hostname where the current host is reachable from the other host
#transfer-to = dest-host

# LV path on the source host, defaults to the same path as the local LV
#transfer-source = /dev/mapper/...
